body{
    padding: 0;
    margin: 0;
     font-family: "Roboto", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
   font-weight: 700; 
    
}
/* .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

/* top container  */
/* .top-container{
    display: flex;
    justify-content: space-around;
} */
.list-container > ul{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    /* margin-left: 20px; */
}
.top-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
 .list-container li{
     margin-left: 30px; 
 }   
/* li{
    display: flex;
} */
/* banner container  */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}
.banner-img{
    width: 400px;
}
/* .banner-camera{
    background-image: rgb(211, 35, 65);
    width: 200px;
} */
.btn-primary{
    background-color: rgb(199, 6, 119);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 25px;
}
.banner-title{
    font-weight: 700;
    font-size: 50px;
}
.banner-desc{
    font-weight:600;
    margin-top:-30px;
}
.btn-primary{
    font-weight: 600;
}
/* logo container designs  */
.logo-container{
    display:flex;
     justify-content: center;
     align-items: center; 
     /* border-top: 1px solid black; */
     }
.logos{
    width: 80px;
    margin:10px 40px;
}

/* collection container  */

.collections-main-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    /* justify-content: center;
    align-items: center; */
}
.collections-container{
    /* justify-content: center;
    align-items: center; */
    margin: 70px auto;
    /* width: 50px; */
    box-shadow: 10px 10px 20px 4px grey;
    padding: 10px;
    border-radius: 10px;
}
.collection-main-text{
    /* margin: 20px auto; */
    text-align: center;
    margin-top: 50px;
    color: rgb(65, 56, 56);
    margin-bottom: -40px;
}
.collection-first-bottom-text{
    font-weight: 300;
}
.collection-second-bottom-text{
    color: rgb(104, 104, 104);
}
.checked {
  color: orange;
}
.halfstar{
   color: gray;
}
.see-more{
    color: rgb(161, 0, 140);
    margin-left: 1200px;
}

/* featured container  */

.featured-main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-primary-join{
    border-radius: 0px;
    padding: 15px;
}
.featured-texts{
    font-size: 40px;
}
/* footer container  */
.footer-container{
    margin-top: 90px;
    background-color: rgb(4, 4, 65);
    padding: 40px;
    height: 200px;
    text-align: center;
}
.product-text{
    color: white;
}
.product-first-desc{
    color: white;
}
.product-second-desc{
    color: white;
}
.social-logo{
    margin-right: 10px;
}

/* responsive  */

/* @media screen and (max-width:576px) {
   .list-container > ul{
    display: none;
   }
.top-container{
    display: none;
    justify-content: none;
    margin: 0;
}

} */